@model EmployerListModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="tl-notification tl-notification--green">
            The entry for Lloyds Banking Group has been removed.
        </div>

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">@PageExtensions.GetServiceName()</h1>
        <p class="govuk-body">
            Employers have agreed for their details to be shared for @Model.EmployerInterestRetentionWeeks weeks.<br />
            After @Model.EmployerInterestRetentionWeeks weeks, <strong>their details will expire</strong> unless they agree to extend their interest.
        </p>
    </div>
</div>

@if (Model.EmployerInterestList != null && Model.EmployerInterestList.Any())
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <table class="govuk-table tl-employers--table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Organisation</th>
                        <th scope="col" class="govuk-table__header">Industry</th>
                        <th scope="col" class="govuk-table__header">Placement areas</th>
                        <th scope="col" class="govuk-table__header tl-min-8">Details expire</th>
                        <th scope="col" class="govuk-table__header"></th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @foreach (var employerInterest in Model.EmployerInterestList)
                    {
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header tl-wordwrap">
                                @if (employerInterest.IsNew)
                                {
                                    <strong class="govuk-tag govuk-tag--blue">New</strong>
                                }
                                @if (employerInterest.IsExpiring)
                                {
                                    <strong class="govuk-tag govuk-tag--red">Expiring</strong>
                                }
                                @employerInterest.OrganisationName
                            </th>
                            <td class="govuk-table__cell tl-table__cell__list">
                                <div class="tl-employers--table--inline-header"><strong>Primary Industry</strong></div>
                                <div class="tl-employers--table--inline-cell">@employerInterest.Industry</div>
                            </td>
                            <td class="govuk-table__cell tl-table__cell__list">
                                <div class="tl-employers--table--inline-header"><strong>Placement areas</strong></div>
                                <div class="tl-employers--table--inline-cell">
                                    @if (employerInterest.SkillAreas is not null && employerInterest.SkillAreas.Any())
                                    {
                                        @foreach (var skillArea in employerInterest.SkillAreas)
                                        {
                                            <p>@skillArea</p>
                                        }
                                    }
                                </div>
                            </td>

                            <td class="govuk-table__cell">
                                <div class="tl-employers--table--inline-header"><strong>Details expire</strong></div>
                                <div class="tl-employers--table--inline-cell">@($"{employerInterest.ExpiryDate:d MMM yyyy}")</div>
                            </td>
                            <td class="govuk-table__cell">
                                <a asp-page="./EmployerDetails" asp-route-id="@employerInterest.Id" id="tl-employer--table--link--@employerInterest.Id" class="govuk-link govuk-link--no-visited-state">View</a>
                                <a asp-page="./EmployerDelete" asp-route-id="@employerInterest.Id" id="tl-employer--table--link--@employerInterest.Id" class="govuk-link govuk-link--no-visited-state">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else if (Model.ZeroResultsFound == true)
{
    <div class="tl-card" id="tl-employers--noresults">
        <p class="govuk-body govuk-!-margin-bottom-0">
            <strong>There are currently no employers who have expressed interest in T Levels.</strong><br>
            Please check back soon.
        </p>
    </div>
}