@page "{id}"
@using Sfa.Tl.Find.Provider.Application.Extensions
@model Sfa.Tl.Find.Provider.Web.Pages.Provider.EditNotificationModel
@{
    ViewData["Title"] = $"Edit notification for {Model.Notification?.LocationName?.ToUpper()} [{Model.Notification?.Postcode}]";
}

@section breadcrumbs {
    <a asp-page="./Notifications" class="govuk-back-link" id="tl-back">Return to notifications</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Edit notifications for @Model.Notification?.Email</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form method="post">
            <table class="govuk-table tl-employers--table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Campus</th>
                        <th scope="col" class="govuk-table__header">Radius</th>
                        <th scope="col" class="govuk-table__header">T Levels</th>
                        <th scope="col" class="govuk-table__header">Frequency</th>
                        <th scope="col" class="govuk-table__header"></th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @if (Model.NotificationLocationList != null && Model.NotificationLocationList.Any())
                    {
                        foreach (var notificationLocation in Model.NotificationLocationList)
                        {
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header tl-wordwrap">
                                    @if (notificationLocation.Locations is not null && notificationLocation.Locations.Any())
                                    {
                                        @foreach (var location in notificationLocation.Locations)
                                        {
                                            <p>@($"{location.Name?.ToUpper()} [{location.Postcode}]")</p>
                                        }
                                    }
                                    else
                                    {
                                        <p>All</p>
                                    }
                                </th>
                                <td class="govuk-table__cell tl-table__cell__list">
                                    <div class="tl-employers--table--inline-header"><strong>Radius</strong></div>
                                    <div class="tl-employers--table--inline-cell">
                                        <p>@notificationLocation.SearchRadius miles</p>
                                    </div>
                                </td>
                                <td class="govuk-table__cell tl-table__cell__list">
                                    <div class="tl-employers--table--inline-header"><strong>T Levels</strong></div>
                                    <div class="tl-employers--table--inline-cell">
                                        @if (notificationLocation.Routes is not { Count: > 0 })
                                        {
                                            <p>All</p>
                                        }
                                        else
                                        {
                                            @foreach (var route in notificationLocation.Routes)
                                            {
                                                <p>@route.Name</p>
                                            }
                                        }
                                    </div>
                                </td>
                                <td class="govuk-table__cell tl-table__cell__list">
                                    <div class="tl-employers--table--inline-header"><strong>Frequency</strong></div>
                                    <div class="tl-employers--table--inline-cell">
                                        <p>@notificationLocation.Frequency.GetEnumDisplayName()</p>
                                    </div>
                                </td>
                                <td class="govuk-table__cell">
                                    <a asp-page="./AddNotification" asp-route-id="@notificationLocation.Id" class="govuk-link govuk-link--no-visited-state">Change</a>
                                    <a asp-page="./RemoveNotification" asp-route-id="@notificationLocation.Id" class="govuk-link govuk-link--no-visited-state govuk-!-margin-left-5">Remove</a>
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
            </table>
        </form>
        <a asp-page="./AddNotification" asp-route-id="@Model.Notification?.Id" class=" govuk-button">Add notification for another campus</a>
    </div>
</div>

