@page
@model Sfa.Tl.Find.Provider.Web.Pages.EmployerInterest.DetailModel
@{
    ViewData["Title"] = "Employer Interest Detail";
}

<a asp-page="./Index" class="govuk-back-link" id="tl-back">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@ViewData["Title"]</h1>

        <div id="tl-confirm-employer-interest">
            <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="tl-employer-interest-detail-table">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Organisation name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.EmployerInterest?.OrganisationName
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Contact name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.EmployerInterest?.ContactName
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Postcode
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.EmployerInterest?.OrganisationName
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Email
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.EmployerInterest?.Email
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Telephone
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.EmployerInterest?.Telephone
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Website
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.EmployerInterest?.Website
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Contact preference
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.EmployerInterest?.ContactPreferenceType
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Industry
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.EmployerInterest?.OtherIndustry
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Additional information
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.EmployerInterest?.AdditionalInformation
                    </dd>
                </div>
            </dl>
        </div>
    </div>
</div>