@page
@using Sfa.Tl.Find.Provider.Application.Extensions
@model Sfa.Tl.Find.Provider.Web.Pages.EmployerInterest.DetailModel
@{
    ViewData["Title"] = "Employer Interest Detail";
}

<a asp-page="./Index" class="govuk-back-link" id="tl-back">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@Model.EmployerInterest?.OrganisationName</h1>

        <h2 class="govuk-heading-m">Organisation details</h2>
        <div>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Website
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.EmployerInterest?.Website
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Industry
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.EmployerInterest?.Industry
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        @{
                            var skillAreaTitle = Model.EmployerInterest?.SkillAreas is { Count: > 1 }
                            ? "Skill Areas"
                            : "Skill Area";
                        }
                        @skillAreaTitle;
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @if (Model.EmployerInterest?.SkillAreas is { Count: > 1 } s)
                        {
                            <ul>
                                @foreach (var skillArea in Model.EmployerInterest.SkillAreas)
                                {
                                    <li>@skillArea</li>
                                }
                            </ul>
                        }
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Location
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.EmployerInterest?.Postcode
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Additional details
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.EmployerInterest?.AdditionalInformation
                    </dd>
                </div>
            </dl>
        </div>

        <h2 class="govuk-heading-m">Contact details</h2>
        <div>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Contact name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.EmployerInterest?.ContactName
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Email
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.EmployerInterest?.Email
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Telephone
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.EmployerInterest?.Telephone
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Contact preference
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @{
                            var contactPreference = (Model.EmployerInterest?.ContactPreferenceType).GetContactPreferenceDisplayName();
                        }
                        @contactPreference
                    </dd>
                </div>
            </dl>
        </div>
    </div>
</div>