@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Sfa.Tl.Find.Provider.Application.Extensions
@using Sfa.Tl.Find.Provider.Application.Models
@model Sfa.Tl.Find.Provider.Web.Pages.EmployerInterest.IndexModel
@{
    ViewData["Title"] = "Employer Interest";
}

<a asp-page="/Dashboard" class="govuk-back-link" id="tl-back">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@ViewData["Title"]</h1>
        
        <h3>Postcodes</h3>
        <ul>
            @foreach (var location in Model.ProviderLocations ?? Enumerable.Empty<LocationPostcode>())
            {
                <li>@location.Postcode</li>
            }
        </ul>

        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Organisation</th>
                    <th class="govuk-table__header" scope="col">Industry</th>
                    <th class="govuk-table__header" scope="col">Skill Areas</th>
                    <th class="govuk-table__header" scope="col">Distance</th>
                    <th class="govuk-table__header" scope="col">Data available until</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @if (Model.EmployerInterestList != null && Model.EmployerInterestList.Any())
                {
                    foreach (var employerInterest in Model.EmployerInterestList)
                    {
                        var availableUntil = employerInterest.CreatedOn.AddDays(Model.EmployerInterestRetentionDays);
                        
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="row">@employerInterest.OrganisationName</th>
                            <td class="govuk-table__cell">@employerInterest.Industry</td>
                            <td class="govuk-table__cell">
                                @if (employerInterest.SkillAreas is not null)
                                {
                                    @foreach (var skillArea in employerInterest.SkillAreas)
                                    {
                                        <p>@skillArea</p>
                                    }
                                }
                            </td>
                            <td class="govuk-table__cell">@employerInterest.Distance.FormatDistance()</td>
                            <td class="govuk-table__cell">
                                @($"{availableUntil:d MMM yyyy}")
                            </td>
                            <td class="govuk-table__cell">
                                <a asp-page="Detail" asp-route-id="@employerInterest.Id" class="govuk-link" id="tl-change-link">View</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>