@page "{id}"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Sfa.Tl.Find.Provider.Application.Extensions
@model EmployerDetailsModel
@{
    ViewData["Title"] = "Employer details";
}
@section breadcrumbs {
<a asp-page="/EmployerList" class="govuk-back-link" id="tl-back">Return to employer list</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">@Model.EmployerInterest?.OrganisationName</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Organisation details</caption>
            <tbody class="govuk-table__body">
            @if (!string.IsNullOrEmpty(Model.EmployerInterest?.Website))
            {
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Website</th>
                    <td class="govuk-table__cell">
                        <a href="@Model.EmployerInterest.Website" class="govuk-link">@Model.EmployerInterest.Website</a>
                    </td>
                </tr>
            }
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Primary industry</th>
                <td class="govuk-table__cell">@Model.EmployerInterest?.Industry</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">
                    Industry placement skill area@(Model.EmployerInterest?.SkillAreas is { Count: > 1 } ? "s" : "")
                </th>
                <td class="govuk-table__cell">
                    @if (Model.EmployerInterest?.SkillAreas is { Count: > 0 })
                    {
                        <ul class="govuk-list">
                            @foreach (var skillArea in Model.EmployerInterest.SkillAreas)
                            {
                                <li>@skillArea</li>
                            }
                        </ul>
                    }
                </td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Location</th>
                <td class="govuk-table__cell">@Model.EmployerInterest?.Postcode</td>
            </tr>
                @if (!string.IsNullOrEmpty(Model.EmployerInterest?.AdditionalInformation))
                {
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Additional details</th>
                        <td class="govuk-table__cell tl-wordwrap">@Model.EmployerInterest?.AdditionalInformation</td>
                    </tr>
                }
            </tbody>
        </table>

        <table class="govuk-table govuk-!-margin-top-8">
            <caption class="govuk-table__caption govuk-table__caption--m">Contact details</caption>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Name</th>
                    <td class="govuk-table__cell">@Model.EmployerInterest?.ContactName</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Email</th>
                    <td class="govuk-table__cell">@Model.EmployerInterest?.Email</td>
                </tr>
                @if (!string.IsNullOrEmpty(Model.EmployerInterest?.Telephone))
                {
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Telephone</th>
                        <td class="govuk-table__cell">@Model.EmployerInterest?.Telephone</td>
                    </tr>
                }
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Contact preference</th>
                    <td class="govuk-table__cell">
                        @{
                            var contactPreference = (Model.EmployerInterest?.ContactPreferenceType).GetContactPreferenceDisplayName();
                        }
                        @contactPreference
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
